*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
} 

nav{
    background-color: $color-nav;
    color: white;

    .navbar-brand{
        font-weight:900;
        color:#fafafa;
        font-size: 1.4rem;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 1.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #lista-navegacion a{
        color: rgb(250, 248, 239);
        font-size: large;
        
        &:hover{
            color: gold;
            font-weight: bolder;
            font-size: larger;
            text-decoration: underline;
        }
    }
}

#bread{
    background-color: ivory;
}
/* logo + into pagina index */
.intro{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F7F6F2;
}


 .contenido-sup{
    background-color: #343c3f !important;
}

.custom-row{
    height: 83vh;
}

#row-primario{
    height: 83vh;
}
.outro{
    position: relative;
	float:inline-start;
	background: #343c3f ;
	color: #fff;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    
    span {
        position:absolute;
        right:0;
        width:0;
        border-left: 2px solid rgb(255, 255, 255);
        background-color: #343c3f;
        animation: escribir 2s steps(20) infinite alternate;
    }

    @keyframes escribir {
        from { width: 100% }
        to { width:0 }
    }
}

.footer{
    @include color-invertido; 
    height: 25vh;
}

/*formato titulos paginas*/
.titulo{
    font-weight: bold;
}

/*para portfolio*/
.card .shadow-sm{
    transition: all 2s;
    transform: rotate(180deg);
}

/*contacto*/
.info{
    text-align: center;
    color: rgb(250, 64, 31);
    
    p{
        font-size: 18px;
        margin-top: 18px;
        font-style: oblique;
        color: black;
    }
}

.contact{
    justify-content: center;
}

.contact-form label{
    font-weight:900;
}

/* imagen avatar nosotros*/
.pic{
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
}
