*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
} 

/*Navbar*/
nav{
    background-color: $color-nav;
    color: white;

    .navbar-brand{
        font-weight:900;
        color:#fafafa;
        font-size: 1.4rem;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 1.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #lista-navegacion a{
        color: rgb(250, 248, 239);
        font-size: large;
        
        &:hover{
            color: gold;
            font-weight: bolder;
            font-size: larger;
            text-decoration: underline;
        }
    }
}

#bread{
    background-color: ivory;
}
/* logo + intro pagina - index */

.contenido-sup{
    background-color: #343c3f !important;
}

/*texto maquina escribir - index*/
.outro{
    position: relative;
	float:inline-start;
	background: #343c3f ;
	color: #fff;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    
    span {
        position:absolute;
        right:0;
        width:0;
        border-left: 2px solid rgb(255, 255, 255);
        background-color: #343c3f;
        animation: escribir 2s steps(20) infinite alternate;
    }

    @keyframes escribir {
        from { width: 100% }
        to { width:0 }
    }
}

/*footer*/
.footer{
    @include color-invertido; 
    color:white;
    text-align: center;
    .links{
        ul {
            list-style-type: none;
            
        }
        li a{
        color: white;
        transition: color .2s;
            &:hover{
                text-decoration:none;
                color:#4180CB;
            }
      }
    }
    .acerca-nosotros{
        i{font-size: 25px;}
            a{
                color:white;
                transition: color .2s;
                &:hover{color:#4180CB}
            }
    } 
    .ubicacion{
      i{
          font-size: 18px;
        }
    }
    .copyright p{
        border-top:1px solid rgba(255,255,255,.1);
        text-align: center;
    } 
}

/*formato titulos paginas*/
.titulo{
    font-weight: bold;
}

.texto-cuerpo{
    font-family: 'Raleway', sans-serif;
}

/* imagen avatar - Nosotros*/
.pic{
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
}

/*propiedades - Servicios*/
.caracteristicas{
    margin-top:-15%;
    padding: 10%;
    h4{
        color: #ffa500;
        font-weight: bold;
        font-size: 20px;
    }
    .subheading{
        color: #3931af;
        font-size: 20px;
    }

    .row{
        margin-top: 10%;
    }

    .how-img 
    {
        text-align: center;
        img{
        width: 40%;
        }
    }
}

/*propiedades -Portfolio*/
.card .shadow-sm{
    transition: all 2s;
    transform: rotate(180deg);
}

/*propiedades Contacto*/
.info{
    text-align: center;
    color: rgb(250, 64, 31);
    
    p{
        font-size: 18px;
        margin-top: 18px;
        font-style: oblique;
        color: black;
    }
}

.contact{
    justify-content: center;
}

.contact-form label{
    font-weight:900;
}

