/*variable de prueba*/
$color-nav:#556b99;

/*MAPS*/
$colores_generales:(
   principal: #0A3143,
   complementerario: #A9A9A9,
   secundario: #ff3b3f,
   oscuro: #E6621f,
   claro: #ffffff, 
);

@each $nombre,$color in $colores_generales{
  .col--#{$nombre}{
      color: $color;
      font-style: italic;
      font-size: large;
  }  
}

@mixin color-invertido {
    background-color: #111;
    color: #eee;
}
