
@media (min-width: 576px) {
    .intro{
        font-size: 15px;
        text-align: center;
        margin: 30px;
    }

    .outro{
        font-size: 20px;
    }

    .footer{
        background-color: #ff497c; 
        height: 20vh;
    }
}

@media (min-width: 768px) { 
    .intro{
        font-size: 17px;
        margin: 5px;
    }

    .outro{
        font-size: 25px;
    }
    
    .logo{
        height: 260px;
        margin-left: 118px;
    }
    
    .info{
        text-align: left;
    }

    .pic{
        transform: rotate(0deg);
    }
    .footer{
        background-color: #ff95b3; 
        height: 23vh;
    }
}
    
@media (min-width: 992px) { 
    .intro{
        font-size: 20px;
    }

    .outro{
        font-size: 25px;
    }
    
    .logo {
        max-width: 100%;
        height: auto;
        margin-left: 0px
    }
    .footer{
        background-color: #ff497c; 
        height: 23vh;
    }

}



