
@media (min-width: 576px) {
    .caracteristicas{
        h4{
            color: #62b7b7;
            font-weight: bold;
            font-size: 25px;
        }
    }

    .outro{
        font-size: 20px;
        text-align: center;
    }

    .footer{
        background-color: #ff497c; 
    }
}

@media (min-width: 768px) { 
    .caracteristicas{
        h4{
            color: #62b7b7;
            font-weight: bold;
            font-size: 28px;
        }
    }

    .outro{
        font-size: 25px;
        text-align: center;
    }
    
    .info{
        text-align: left;
    }

    .pic{
        transform: rotate(0deg);
    }
    .footer{
        background-color: #ff497c;
       
    }
}
    
@media (min-width: 992px) {
    .caracteristicas{
        h4{
            color: #62b7b7;
            font-weight: bold;
            font-size: 30px;
        }
    }
    
    .outro{
        font-size: 30px;
        text-align: center;
    }
    
    .logo {
        max-width: 100%;
        height: auto;
        margin-left: 0px
    }
    .footer{
        background-color: #ff497c; 
    }

}



