*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
} 

nav{
    background-color: #556b99;
    color: white;

    .navbar-brand{
        font-weight:900;
        color:rgb(156, 235, 132);
        font-size: 1.4rem;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 1.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #lista-navegacion a{
        color: rgb(250, 248, 239);
        
        &:hover{
            color: gold;
            font-weight: bolder;
            text-decoration: underline;
        }
    }

}

/* logo + into pagina index */
.intro{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F7F6F2;
}

.logo{
    animation-name: mi_efecto;
    animation-duration: 4s;
}


@keyframes mi_efecto {
    0%{ color: 0px; }
    0.2s{ width:300px ;}
    25%{ width: 400px;}
    50%{ width: 500px;}
    75%{ width: 700px;}
    100%{ widht: 100%;}
 }

 .contenido-sup{
    background-color: #343c3f !important;
}

.custom-row{
    height: 83vh;
}

#row-primario{
    height: 83vh;
}

.footer{
    background-color: #ff497c; 
    height: 25vh;
}

/*formato titulos paginas*/
.titulo{
    font-weight: bold;
}

/*para portfolio*/
.card .shadow-sm{
    transition: all 2s;
    transform: rotate(180deg);
}

/*contacto*/
.info{
    text-align: center;
    color: rgb(250, 64, 31);
    
    p{
        font-size: 18px;
        margin-top: 18px;
        font-style: oblique;
        color: black;
    }
}

.contact{
    justify-content: center;
}

.contact-form label{
    font-weight:900;
}

/* imagen avatar nosotros*/
.pic{
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
}

@import "pointbreak";