/*variable de prueba*/
/*MAPS*/
.col--principal {
  color: #0A3143;
  font-style: italic;
  font-size: large;
}

.col--complementerario {
  color: #A9A9A9;
  font-style: italic;
  font-size: large;
}

.col--secundario {
  color: #ff3b3f;
  font-style: italic;
  font-size: large;
}

.col--oscuro {
  color: #E6621f;
  font-style: italic;
  font-size: large;
}

.col--claro {
  color: #ffffff;
  font-style: italic;
  font-size: large;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

/*Navbar*/
nav {
  background-color: #556b99;
  color: white;
}

nav .navbar-brand {
  font-weight: 900;
  color: #fafafa;
  font-size: 1.4rem;
}

nav .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav #lista-navegacion a {
  color: #faf8ef;
  font-size: large;
}

nav #lista-navegacion a:hover {
  color: gold;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
}

#bread {
  background-color: ivory;
}

/* logo + intro pagina - index */
.contenido-sup {
  background-color: #000000 !important;
}

/*texto maquina escribir - index*/
.outro {
  position: relative;
  float: inline-start;
  background: #000000;
  color: #fff;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  text-align: start;
}

.outro span {
  position: absolute;
  right: 0;
  width: 0;
  border-left: 2px solid white;
  background-color: #000000;
  -webkit-animation: escribir 2s steps(20) infinite alternate;
          animation: escribir 2s steps(20) infinite alternate;
}

@-webkit-keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/*footer*/
.footer {
  background-color: #111;
  color: #eee;
  color: white;
  text-align: center;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

.footer .acerca-nosotros i {
  font-size: 25px;
}

.footer .acerca-nosotros a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer .acerca-nosotros a:hover {
  color: #4180CB;
}

.footer .ubicacion i {
  font-size: 18px;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

/*formato titulos paginas*/
.titulo {
  font-weight: bold;
}

.texto-cuerpo {
  font-family: 'Raleway', sans-serif;
}

/* imagen avatar - Nosotros*/
.pic {
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*propiedades - Servicios - Index*/
.caracteristicas {
  margin-top: -15%;
  padding: 10%;
}

.caracteristicas h4 {
  color: #62b7b7;
  font-weight: bold;
  font-size: 20px;
}

.caracteristicas .subheading {
  color: #3931af;
  font-size: 20px;
}

.caracteristicas .row {
  margin-top: 10%;
}

.caracteristicas .how-img {
  text-align: center;
}

.caracteristicas .how-img img {
  width: 40%;
}

/*propiedades -Portfolio*/
.card .shadow-sm {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*propiedades Contacto*/
.info {
  text-align: center;
  color: #fa401f;
}

.info p {
  font-size: 18px;
  margin-top: 18px;
  font-style: oblique;
  color: black;
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form label {
  font-weight: 900;
}

@media (min-width: 576px) {
  .caracteristicas h4 {
    color: #62b7b7;
    font-weight: bold;
    font-size: 25px;
  }
  .outro {
    font-size: 20px;
    text-align: center;
  }
  .footer {
    background-color: #ff497c;
  }
}

@media (min-width: 768px) {
  .caracteristicas h4 {
    color: #62b7b7;
    font-weight: bold;
    font-size: 28px;
  }
  .outro {
    font-size: 25px;
    text-align: center;
  }
  .info {
    text-align: left;
  }
  .pic {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .footer {
    background-color: #ff497c;
  }
}

@media (min-width: 992px) {
  .caracteristicas h4 {
    color: #62b7b7;
    font-weight: bold;
    font-size: 30px;
  }
  .outro {
    font-size: 30px;
    text-align: center;
  }
  .logo {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .footer {
    background-color: #ff497c;
  }
}
/*# sourceMappingURL=mystyle.css.map */