/*variable de prueba*/
/*MAPS*/
.col--principal {
  color: #0A3143;
  font-style: italic;
  font-size: large;
}

.col--complementerario {
  color: #A9A9A9;
  font-style: italic;
  font-size: large;
}

.col--secundario {
  color: #ff3b3f;
  font-style: italic;
  font-size: large;
}

.col--oscuro {
  color: #E6621f;
  font-style: italic;
  font-size: large;
}

.col--claro {
  color: #ffffff;
  font-style: italic;
  font-size: large;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

nav {
  background-color: #556b99;
  color: white;
}

nav .navbar-brand {
  font-weight: 900;
  color: #fafafa;
  font-size: 1.4rem;
}

nav .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 1.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav #lista-navegacion a {
  color: #faf8ef;
  font-size: large;
}

nav #lista-navegacion a:hover {
  color: gold;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
}

#bread {
  background-color: ivory;
}

/* logo + into pagina index */
.intro {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F7F6F2;
}

.contenido-sup {
  background-color: #343c3f !important;
}

.custom-row {
  height: 83vh;
}

#row-primario {
  height: 83vh;
}

.outro {
  position: relative;
  float: inline-start;
  background: #343c3f;
  color: #fff;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

.outro span {
  position: absolute;
  right: 0;
  width: 0;
  border-left: 2px solid white;
  background-color: #343c3f;
  -webkit-animation: escribir 2s steps(20) infinite alternate;
          animation: escribir 2s steps(20) infinite alternate;
}

@-webkit-keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.footer {
  background-color: #111;
  color: #eee;
  height: 25vh;
}

/*formato titulos paginas*/
.titulo {
  font-weight: bold;
}

/*para portfolio*/
.card .shadow-sm {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*contacto*/
.info {
  text-align: center;
  color: #fa401f;
}

.info p {
  font-size: 18px;
  margin-top: 18px;
  font-style: oblique;
  color: black;
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form label {
  font-weight: 900;
}

/* imagen avatar nosotros*/
.pic {
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (min-width: 576px) {
  .intro {
    font-size: 15px;
    text-align: center;
    margin: 30px;
  }
  .outro {
    font-size: 20px;
  }
  .footer {
    background-color: #ff497c;
    height: 20vh;
  }
}

@media (min-width: 768px) {
  .intro {
    font-size: 17px;
    margin: 5px;
  }
  .outro {
    font-size: 25px;
  }
  .logo {
    height: 260px;
    margin-left: 118px;
  }
  .info {
    text-align: left;
  }
  .pic {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .footer {
    background-color: #ff95b3;
    height: 23vh;
  }
}

@media (min-width: 992px) {
  .intro {
    font-size: 20px;
  }
  .outro {
    font-size: 25px;
  }
  .logo {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .footer {
    background-color: #ff497c;
    height: 23vh;
  }
}
/*# sourceMappingURL=mystyle.css.map */